<!-- register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <h2>User Registration</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% for field in form %}
            {% if field.errors %}
                <div>{{ field.errors }}</div>
            {% endif %}
        {% endfor %}
        <button type="submit">Register</button>
    </form>
    <a href="http://127.0.0.1:8000/login/"><button>Login</button></a>
</body>
</html>
